.cart-product.quoute .wrapper-product-info .container-specs .list-specs li .specs-text {
    white-space: unset;
}

@media only screen and (max-width: 767.98px) {
    .cart-product.quoute .quantity {
        left: 3.3rem;
    }
}
.confirm-email-container {
    width: 100%;
    text-align: right;
}

.confirm-email-button {
    font-style: italic;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
}

@media (max-width: 768px) {
    .confirm-email-button {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .confirm-email-button {
        font-size: 8px;
    }
}